body {
  overflow: hidden;
}

.container {
  align-self: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(44, 51, 56, 1) -50%,
    rgba(49, 77, 93, 1) 50%,
    rgba(44, 51, 56, 1) 150%
  );
}
.canvas-container {
  align-self: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(44, 51, 56, 1) -50%,
    rgba(49, 77, 93, 1) 50%,
    rgba(44, 51, 56, 1) 150%
  );
}
.words-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.welcome-title {
  font-size: 15vw;
  margin: 0;
  padding: 0;
  color: #c5e0f8;
  cursor: default;
}
.welcome-subtitle {
  font-size: 4vw;
  margin: 0;
  padding: 0;
  color: #c5e0f8;
  cursor: default;
  margin: 0 2% 0 2%;
}
.welcome-link {
  font-size: 2vw;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #c5e0f8;
  cursor: default;
  margin: 0 2% 5% 2%;
  cursor: pointer;
  align-self: center;
  text-align: center;
  text-decoration: underline;
}
.choose-title {
  font-size: 5vw;
  margin: 0;
  padding: 0;
  color: #c5e0f8;
  cursor: default;
  margin-bottom: 10%;
}
.draw-title {
  align-self: center;
  text-align: center;
  font-size: 5vw;
  margin: 0;
  padding: 0;
  color: #c5e0f8;
  cursor: default;
}
.button {
  width: 80vw;
  height: 75%;
  border: none;
  border-radius: 10px;
  margin: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  transition: 250ms;
  background-color: #91a6b8;
}

.button:hover {
  transition: 250ms;
  background-color: #afc8de;
  cursor: pointer;
}
.button:active {
  transition: 250ms;
  background-color: #5f6c78;
}

.link {
  text-decoration: none;
}

.word-button {
  width: 25vw;
  margin: 0 1vw 0 1vw;
  height: 75%;
  border: none;
  border-radius: 10px;
  padding: 2%;
  /* text-align: center; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  transition: 250ms;
  background-color: #91a6b8;
}
.word-button:hover {
  transition: 250ms;
  background-color: #afc8de;
  cursor: pointer;
}

.word-button:active {
  transition: 250ms;
  background-color: #5f6c78;
}

.canvas {
  cursor: crosshair;
}
